{
    "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
    ],
    "parser": "babel-eslint",
    "env": {
      "jest": true
    },
    "globals": {
      "require": true,
      "window": true,
      "history": true,
      "document": true
    },
    "plugins": [
      "react-hooks"
    ],
    "rules": {
      "global-require": 0,
      "import/no-dynamic-require": 0,
      "import/no-unresolved": 1,
      "no-console": "off",
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js"
          ]
        }
      ]
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": "src",
          "extensions": [
            ".js",
            ".jsx",
            ".ts",
            ".tsx"
          ]
        }
      }
    }
  }